---
import Layout from "@/layouts/main.astro";
import Cards from "@/components/Cards";
import { GraficoDescripcionesCargos as GraficoCliente } from '@/components/graficoClientes'
import GraficoMensual from '@/components/GraficoMensual'
import CardVenta from "@/components/CardVenta";
import CardGastos from '@/components/CardGastos'
import CardTotal from '@/components/CardTotal'
import GraficoBalance from '@/components/GraficoCompraVenta'
import { GraficoDescripciones as GraficoVentasDash } from '@/components/graficoVentasDash'
---

<Layout>
  <div class="flex flex-1 flex-col gap-4 p-4 pt-0">
    <div class="grid auto-rows-min gap-4 md:grid-cols-3">
      <CardVenta client:load/>
      <CardGastos client:load/>
      <CardTotal client:load/>
    </div>
    
    <div class="grid auto-rows-min gap-4 md:grid-cols-2 min-h-[100vh] flex rounded-xl md:min-h-min">
      <GraficoCliente client:load />
      <GraficoVentasDash client:load />
      <GraficoMensual client:load />
      <GraficoBalance client:load />
    </div>
  </div>
</Layout>
