--- 
import { Button } from './ui/button';
---

<div class="flex gap-4">
    <Button client:load variant="default">Botón Default</Button>
    <Button client:load variant="destructive">Botón Destructive</Button>
    <Button client:load variant="outline">Botón Outline</Button>
    <Button client:load variant="secondary">Botón Secondary</Button>
    <Button client:load variant="ghost">Botón Ghost</Button>
    <Button client:load variant="link">Botón Link</Button>
  </div>