---
import '../styles/globals.css';
import { SidebarProvider, SidebarTrigger } from "@/components/ui/sidebar"
import Sidebar from '@/components/Sidebar';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body class="min-h-screen bg-background font-sans antialiased">
		<SidebarProvider client:only="react">
			<Sidebar client:only="react"/>		
			<main class="flex w-full h-screen flex-col justify-center items-center p-4">
				<slot />
			</main>
		</SidebarProvider>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>